.blog_page__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .blog_page__items {
        justify-content: space-evenly;
    }
}
